*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'ysabeau Infant', sans-serif;
}

body{
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
overflow-x: hidden;

}

video{
width: 100%;
min-height: 100%;
position: fixed;
z-index: -1;
object-fit: cover;
right: 0;
bottom: 0;
}

.botao-youtube{
display: flex;
align-items: center;



}

.container-principal{
text-align: center;
width: 90%;
max-width: 400px;
background: transparent;
padding: 40px 20px;
color: white;
margin-bottom: 50px;

}

.foto-perfil{
display: block;
margin: 0 auto 20px auto;
width: 110px;
height: 110px;
border-radius: 50%;
border: 4px solid #c9da29;
box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
object-fit: cover;

}

.links-bio{
display: flex;
flex-direction: column;
gap: 15px;

}

.links-bio a{

display: flex;
align-items: center;
justify-content: center;
background: rgba(30,40,30, 0.9);
color: white;
text-decoration: none;
padding: 15px 20px;
border-radius: 50px;
border: 1px solid rgba(255,255,255,0.1)
transition: 0.3s;
font-weight: 600;
margin-bottom: 15px;
position: relative;
}

.links-bio a:hover{
background: rgba(40,70,40,1);
transform: scale(1.05);


}

.links-bio img{
width: 24px;
height: auto;
margin-right: 15px;
position: absolute;
left: 20px;
}
.container-principal{
text-align: center;
width: 90%;
max-width: 400px;
background: transparent;
padding: 20px;
color: white;
border: none;
}

h1{
margin-bottom: 25px;
font-size: 26px;
font-weight: 700;
text-shadow:  2px 2px 4px rgba(,0,0,0,0.5);
gap: 8px;
display: flex;
align-items: center;
justify-content:center;
}

.icone-verificado{
height: 24px;
width: auto;
}

.secao-estatisticas{
    padding-top: 300px; 
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
font-family: 'montserrat', sans-serif;

background-image: url(assets/imagem-de-fundo.jpg);
background-size: cover;
background-position: top center;
color:white;

width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}


.secao-estatisticas h2{
font-size: 3rem;
margin-bottom: 30px;
text-align: center;
text-shadow: 2px 2px 4px black;
font-weight: bold;

}

.tabela-container{
overflow: auto;
max-width: 900px;
width: 100%;

}

table{
width: 100%;
border-collapse: collapse;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 4px 15px rgba(0,0,0,0.5);



}

th {
    background-color: #000000;
    color: #ffd700;            
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #ffd700;}

    td {
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

tbody tr:nth-child(odd){
background-color: rgba(255,255,255,0.9);
color: #000;


}

tbody tr:nth-child(even){
background-color: rgba(0,0,0, 0.6);
color: #fff;


}

td{
padding: 12px 15px;
text-align:center;
font-weight: bold;
border-bottom: 1px solid rgba(0,0,0,0.1);

}

.time-nome{
text-align: left;
display: flex;
align-items: center;
gap: 10px
font-weight: 800;

}

.time-nome img{
width: 35px;
height: auto;
filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3));

}

